<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Toyz4net.App.Properties.Settings.dataConnectionString"
            connectionString="data source=G:\svn\toyz\toyz4net\Toyz4net.App\bin\Debug\data.db"
            providerName="System.Data.SQLite" />
    </connectionStrings>
</configuration>