<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>

    <add key="ZDSL.Biz.db.type" value="MSSQL2005"/>
    <add key="ZDSL.Biz.path.jsCache" value="cache/" />
    <add key="weibo.appKey" value="1345779141"/>
    <add key="weibo.appSecret" value="d4a8a2710de02b8581c1ff69202d96dd"/>

    <!-- 以下为动静态页面对应规则 -->
    <add key="ZDSL.Webapp.path.Home.Index" value="/index.html"/>
    <add key="ZDSL.Webapp.path.Hotel.Index" value="/hotel/index.html"/>
    <add key="ZDSL.Webapp.path.Hotel.City" value="/city/{1}.html"/>
    <!-- {0}为城市名，{1}为城市code，-->
    <add key="ZDSL.Webapp.path.Hotel.D" value="/d/{0}_{1}.html"/>
    <!-- {0}为城市code，{1}为区域id-->
    <add key="ZDSL.Webapp.path.Hotel.Cl" value="/cl/{0}_{1}.html"/>
    <!-- {0}为城市code，{1}为区域id-->
    <add key="ZDSL.Webapp.path.Brand.Index" value="/brand/index.html"/>
    <add key="ZDSL.Webapp.path.News.Index" value="/news/index.html"/>
    <add key="ZDSL.Webapp.path.Exhi.Index" value="/exhi/index.html"/>
    <add key="ZDSL.Webapp.path.Comment.Index" value="/comment/index.html"/>
    <add key="ZDSL.Webapp.path.Hotel.Detail" value="/hotel/{0}.html"/>
    <add key="ZDSL.Webapp.path.Brand.BrandHotel" value="/brand/{0}.html"/>
    <add key="ZDSL.Webapp.path.News.NewsHotel" value="/news/{0}.html"/>
    <add key="ZDSL.Webapp.path.Exhi.ExhiHotel" value="/exhi/{0}.html"/>
  </appSettings>

  <connectionStrings>

    <add name="ZDSL.Biz.db.connectionString"
       connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=K:\vs-2008\toyz4net\ZDSL.Webapp\App_Data\zdsl.mdf;Integrated Security=True;User Instance=True"/>


    <!--
      Data Source=localhost\SQLEXPRESS;Initial Catalog=ZDSLDB;Integrated Security=True       //本地默认连接
      
    -->
  </connectionStrings>
  
</configuration>